@\import "https://valeriolyndon.github.io/MAL-Public-List-Designs/Clarity%20Theme/Theme%20-%20Compressed.css";
@\import "https://valeriolyndon.github.io/MAL-Public-List-Designs/Clarity%20Theme/Mod%20-%20Dark%20Mode%20Compressed.css";
@\import "https://malscraper.azurewebsites.net/covers/anime/Powish/presets/dataimagelinkbefore";
@\import "https://valeriolyndon.github.io/MAL-Public-List-Designs/Clarity%20Theme/Mod%20-%20Hover%20Image%20Compressed.css";
@\import "https://dl.dropboxusercontent.com/s/sbmbeerpbob2wrg/tags%20compressed.css";
@\import "https://dl.dropboxusercontent.com/s/f6jr3zx1vkvhhx1/en%20names%20compressed.css";
@\import "https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf";
/*Side character dont minify*/
.status-menu-container.fixed ~ .list-block:before{
background-image: url(https://raw.githubusercontent.com/Powish/mal/main/images/mal%20side%20character.png);
background-position: left bottom;
background-repeat: no-repeat;
background-size: contain;
content: "";
position: fixed;
bottom: 0;
margin: 0 auto !important;
width: 100% !important;
height: 90%;
top: 15%;
display: block;
left: -3%;
z-index: 0 !important;
pointer-events: none;
animation: RAYNARE 2s 1;
} 

@keyframes RAYNARE {
	0% {
left: -55%;
	}
		200% {
left: -55%;
	}
	100% {
left: -3%;
	}
}

@font-face {
    font-family: "Twemoji Mozilla";
    src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf") format("truetype");
    unicode-range: U+1F62D;
}
/*Favourite Hearts (Left) R0.4*/
.data.tags span{padding:0}.data.tags span a{margin:1px 0}.data.tags span a[href*="=Favorite"],.data.tags span a[href*="=Favourite"]{position:absolute;left:-34px;top:calc(50% - 13px);width:26px;height:26px;padding:0;background:var(--bg);border-radius:50%;color:#ff65ad!important;font-size:0!important;line-height:24px;overflow:hidden;box-shadow:0 1px 2px rgba(0,0,0,.2)}.data.tags span a[href*="=Favorite"]:before,.data.tags span a[href*="=Favourite"]:before{content:"♥";font-size:26px}
/*END*/
/*Transparent List Rows*/
:root {
	/* Change colour here */
	--row-tint: rgba(33,33,33,0.9);
}

.list-item, .data.priority, .data.number, .data.status:before, .data.status:after {
	background: linear-gradient(var(--row-tint),var(--row-tint)), var(--background) no-repeat center / cover fixed transparent !important;
}
/*END*/
/*Change Status Bar Width*/

.data.status { width: 4px !important; }
.list-table-data { padding-left: 0px; }
/*More readable text*/
.data.title .link::after {text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
.data.title .link {text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
/*END*/
/*CatCol Header Text R0.0*/
.status-menu .status-button{transition:color .3s ease}.status-menu .status-button.on:nth-of-type(1),.status-menu .status-button:nth-of-type(1):hover{color:var(--accent)!important}.status-menu .status-button.on:nth-of-type(2),.status-menu .status-button:nth-of-type(2):hover{color:var(--watching)!important}.status-menu .status-button.on:nth-of-type(3),.status-menu .status-button:nth-of-type(3):hover{color:var(--completed)!important}.status-menu .status-button.on:nth-of-type(4),.status-menu .status-button:nth-of-type(4):hover{color:var(--onhold)!important}.status-menu .status-button.on:nth-of-type(5),.status-menu .status-button:nth-of-type(5):hover{color:var(--dropped)!important}.status-menu .status-button.on:nth-of-type(6),.status-menu .status-button:nth-of-type(6):hover{color:var(--plantowatch)!important}
/*END*/
/*Header Outline R0.0*/
/*Change colour of border here.*/
:root { --header-border: #ff0000; }

.status-menu-container:before{height:56px;border-width:4px 0;border-style:solid;border-color:var(--header-border)}.status-menu:after{left:-4px;top:-47px;border-width:4px;box-shadow:0 0 0 4px var(--header-border)}.fixed .status-menu:after{top:4px}
/*END*/
/*Different scrollbar*/

/* Chrome & Edge */
::-webkit-scrollbar {
    width: 8px;
    background-color: #191919;
}

::-webkit-scrollbar-thumb {
    background-color: #ff0000;
}
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
/*Firefox*/
* {
    scrollbar-width: thin;
    scrollbar-color: #ff0000 #191919;
}
/*END*/
/*Category Headers (Round) R0.3*/
[data-query*='"status":7']:not([data-query*=order]):not([data-query*='tag"']):not([data-query*='"s"']) .list-item:nth-child(2){margin-top:58px}.list-item .status:after,.list-item .status:before{position:absolute;top:-40px;left:0;display:block;width:1056px;height:31px;background:var(--bg);border-width:4px 0 0 4px;border-style:solid;border-color:var(--text-head);border-radius:16px 16px 0 0;color:var(--text-head);font:20px/31px Oswald;letter-spacing:3px;text-indent:-.5px;text-transform:uppercase;pointer-events:none}[data-query*='"status":7']:not([data-query*=order]):not([data-query*='tag"']):not([data-query*='"s"']) .list-item .status:after{content:"";top:auto;bottom:-40px;height:32px;border-width:0 0 0 4px;border-radius:0 0 16px 16px}.list-item .reading:after,.list-item .reading:before,.list-item .watching:after,.list-item .watching:before{border-color:var(--watching)}.list-item .completed:after,.list-item .completed:before{border-color:var(--completed)}.list-item .onhold:after,.list-item .onhold:before{border-color:var(--onhold)}.list-item .dropped:after,.list-item .dropped:before{border-color:var(--dropped)}.list-item .plantoread:after,.list-item .plantoread:before,.list-item .plantowatch:after,.list-item .plantowatch:before{border-color:var(--plantowatch)}
/*END*/
/*Pics and text*/
body { --avatar: url(https://raw.githubusercontent.com/Powish/mal/main/images/mal%20avatar.webp); }
body { --banner: url(https://raw.githubusercontent.com/Powish/mal/main/images/mal%20banner%20bg.webp); }
body { --character: url(https://raw.githubusercontent.com/Powish/mal/main/images/mal%20banner%20character.webp); }
body { --background: url(https://raw.githubusercontent.com/Powish/mal/main/images/mal_bg.webp); }
body { --name: "Powish\a    ♡\a Hu Tao"; }
/*Yep*/
/*Horizontal Tags*/
.list-table-data{padding-bottom:11px}.data.tags{position:absolute;left:0;top:0;display:flex!important;width:0;height:100%;padding:0!important;align-items:flex-end}.data.tags div{max-width:980px;margin:0 0 4px 80px;font-size:0;white-space:nowrap}.data.tags span{display:inline-block;padding:0}.data.tags span a{padding:1px 8px!important;margin:0 4px 0 0;white-space:nowrap}.data.tags span a[href*="=Favo"]{padding:0!important}.data.tags a.edit{right:-1060px}.data.tags textarea{right:-1060px}
/*Remove footer*/
#footer-block{
display: none;
}
#gdpr-modal-bottom{
display: none;
}
/*Cover images border*/
/*Watching*/
.data.watching ~ .image a:before,
  .data.reading ~ .image a:before{
border-style: solid;
border-color: var(--watching)!important;
border-width: 3px !important;
  }

/*Completed*/
.data.completed ~ .image a:before {
border-style: solid;
border-color: var(--completed)!important;
border-width: 3px !important;
} 
  
/*On-hold*/
.data.onhold ~ .image a:before {
border-style: solid;
border-color: #dbb330!important;
border-width: 3px !important;
} 

/*Dropped*/
.data.dropped ~ .image a:before {
border-style: solid;
border-color: red!important;
border-width: 3px !important;
} 

/*Planned*/
.data.plantowatch ~ .image a:before,
.data.plantoread ~ .image a:before {
border-style: solid;
border-color: #a2a2fa!important;
border-width: 3px !important;
}
/*Better Titles*/
.data.type {
    top: 0px;
    align-self: flex-start;
}

.data.title {
    padding: 16px 8px !important;
    height: auto;
}

.data.title::after {
    content: none;
}

.data.title .link.sort {
    position: static;
    display: block;
    padding-right: 0;
    margin-right: 3px;
    white-space: normal;
}

/*Music Video*/
/*Click ghost text*/
.cover-block {
	z-index: 5;
    margin: 0 auto;
    text-align: right;
    vertical-align: middle;
    font-size: 18px;
    color: white;
    font-weight: bold !important;
    font-family: sans-serif, cursive;
    font-variant: small-caps;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.cover-block::before {
    text-align: right !important;
    content: "↓ Click the ghost to play a song. ↓⠀";
}
/*All anime*/   
[data-query*='"status":7'] .link[href^="/anime/48553/"] ~ .add-edit-more .more a {  
display: block !important;
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://raw.githubusercontent.com/Powish/mal/main/images/mal%20ghost.webp) !important;
content: "";
display: block !important;
position: fixed !important;
color: transparent !important;
height: 150px !important;
width: 150px !important;
right: 1% !important;
bottom: 2% !important;
opacity: 1 !important;
display: block !important;
cursor: pointer !important;
pointer-events: visible !important;
}

[data-query*='"status":7'] .link[href^="/anime/48553/"] ~ .add-edit-more {
opacity: 1 !important;
}
/*Completed*/
[data-query*='"status":2'] .link[href^="/anime/48553/"] ~ .add-edit-more .more a {  
display: block !important;
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://raw.githubusercontent.com/Powish/mal/main/images/mal%20ghost.webp) !important;
content: "";
z-index: 5;
display: block !important;
position: fixed !important;
color: transparent !important;
height: 150px !important;
width: 150px !important;
right: 1% !important;
bottom: 2% !important;
opacity: 1 !important;
display: block !important;
cursor: pointer !important;
pointer-events: visible !important;
}

[data-query*='"status":2'] .link[href^="/anime/48553/"] ~ .add-edit-more {
opacity: 1 !important;
z-index: 5;
}
/*Watching*/
[data-query*='"status":1'] .link[href^="/anime/232/"] ~ .add-edit-more .more a {  
display: block !important;
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://raw.githubusercontent.com/Powish/mal/main/images/mal%20ghost.webp) !important;
content: "";
display: block !important;
position: fixed !important;
color: transparent !important;
height: 150px !important;
width: 150px !important;
right: 1% !important;
bottom: 2% !important;;
opacity: 1 !important;
display: block !important;
cursor: pointer !important;
pointer-events: visible !important;
}

[data-query*='"status":1'] .link[href^="/anime/232/"] ~ .add-edit-more {
opacity: 1 !important;
}
/*Dropped*/
[data-query*='"status":4'] .link[href^="/anime/36511/"] ~ .add-edit-more .more a {  
display: block !important;
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://raw.githubusercontent.com/Powish/mal/main/images/mal%20ghost.webp) !important;
content: "";
display: block !important;
position: fixed !important;
color: transparent !important;
height: 150px !important;
width: 150px !important;
right: 1% !important;
bottom: 2% !important;
opacity: 1 !important;
display: block !important;
cursor: pointer !important;
pointer-events: visible !important;
}

[data-query*='"status":4'] .link[href^="/anime/36511/"] ~ .add-edit-more {
opacity: 1 !important;
}
/*On hold*/
[data-query*='"status":3'] .link[href^="/anime/36456/"] ~ .add-edit-more .more a {  
display: block !important;
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://raw.githubusercontent.com/Powish/mal/main/images/mal%20ghost.webp) !important;
content: "";
z-index: 5;
display: block !important;
position: fixed !important;
color: transparent !important;
height: 150px !important;
width: 150px !important;
right: 1% !important;
bottom: 2% !important;
opacity: 1 !important;
display: block !important;
cursor: pointer !important;
pointer-events: visible !important;
}

[data-query*='"status":3'] .link[href^="/anime/36456/"] ~ .add-edit-more {
opacity: 1 !important;
z-index: 5;
}
/*Plan to watch*/
[data-query*='"status":6'] .link[href^="/anime/33985/"] ~ .add-edit-more .more a {  
display: block !important;
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
background-image: url(https://raw.githubusercontent.com/Powish/mal/main/images/mal%20ghost.webp) !important;
content: "";
display: block !important;
position: fixed !important;
color: transparent !important;
height: 150px !important;
width: 150px !important;
right: 1% !important;
bottom: 2% !important;
opacity: 1 !important;
display: block !important;
cursor: pointer !important;
pointer-events: visible !important;
}

[data-query*='"status":6'] .link[href^="/anime/33985/"] ~ .add-edit-more {
opacity: 1 !important;
}
/*Youtube video position*/   
.list-table .list-table-data .data.title .edit a{
opacity: 0;
}

.list-table .list-table-data:hover .data.title .edit a{
opacity: 1;
}

.list-table .more-info{
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
height: 300px !important;
width: 400px !important;
bottom: 9% !important;
right: 15px !important;
opacity: 1 !important;
position: fixed;
font-size: 0;
z-index: 0;
}
/*decimal scores pogger*/
.data.tags a[href*="=.0"],
.data.tags a[href*="=.1"],
.data.tags a[href*="=.2"],
.data.tags a[href*="=.3"],
.data.tags a[href*="=.4"],
.data.tags a[href*="=.5"],
.data.tags a[href*="=.6"], 
.data.tags a[href*="=.7"], 
.data.tags a[href*="=.8"], 
.data.tags a[href*="=.9"] {
	z-index: 5;
	position: absolute;
	bottom: calc(50% - 2px);
	left: 735px;
	width: 16px;
	height: 16px;
	padding: 0 !important;
	font-size: 10px !important;
	line-height: 16px;
	border-radius: 0 50% 50% 0;
	pointer-events: none;
}
/*Scores desc on hover*/
.score-na::before {
	content: "N/A";
}
.score-1::before {
	content: "1 ABSOLUTE TRASH, DON'T GET NEAR IT";
}
.score-2::before {
	content: "2 TRASH";
}
.score-3::before {
	content: "3 VERY BAD";
}
.score-4::before {
	content: "4 BAD";
}
.score-5::before {
	content: "5 BELOW AVERAGE";
}
.score-6::before {
	content: "6 MEDIOCRE";
}
.score-7::before {
	content: "7 PRETTY GOOD";
}
.score-8::before {
	content: "8 AMAZING";
}
.score-9::before {
	content: "9 ALMOST PERFECT, MUST WATCH";
}
.score-10::before {
	content: "10 MASTERPIECE";
}
.score-label {
	display: inline-block;
	transition: color 0.3s ease;
}

.score-label:hover {
	color: #fff !important;
}

.score-label::before {
	position: absolute;
	z-index: 6;
	padding: 4px 8px;
	background: #111;
	border-radius: 4px;
	opacity: 0;
	transition: opacity 0.3s ease;
	white-space: pre;
	text-align: left;
	pointer-events: none;
	margin-top: -4px;
	margin-left: -10px;
}
.score-label::after {
	pointer-events: none;
}

.score a:hover .score-label::before {
	opacity: 1;
}
/*Custom cursor*/
body *, :not(*) {
cursor: url(https://i.imgur.com/hSQ5qDc.png), auto !important;
}

a:hover,
.data.tags span a,
.data.tags span a:hover,
.fa:hover,.data.progress span:hover,.list-table .list-table-data .data.score:hover,
.list-table .list-table-data .data.licensor a:hover,.list-table .list-table-data .data.score .link:before,
.data.progress span a:before,.list-table .list-table-data .data.season a:hover,.list-item .data.studio:hover *,
.list-table .list-table-data .data.title .link:hover,.list-table-data .data.tags:hover,.list-table .list-table-data .tags .edit:hover,
.list-table .list-table-data .data.title .edit:hover a,.list-table .list-table-data .data.title .add:hover a{

cursor: url(https://i.imgur.com/X2a4EPF.png), auto !important;
}
/* FALLING SNOW for chrimmas*/
/*.list-container:after  {
position: fixed;
left: 0;
top: 0;
content: '';
width: 100%;
height: 100%;
background-image: url(https://i.imgur.com/uVN2Nk8.png),
url(https://i.imgur.com/3d7VHiA.png),
url(https://i.imgur.com/s0pY1pb.png);
animation: SNOW 20s linear infinite;
z-index: 0;
pointer-events: none !important;
}



@keyframes SNOW {
	0% { background-position: 0 0, 0 0, 0 0; }
	100% { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}
*//*Remove annoying/broken stuff*/
a.mal-icon.ml4,i.malicon.malicon-movie-episode,.qc-cmp2-persistent-link {
  display: none!important
}
/*Uoh Tag*/
.data.tags span { padding: 0; }
.data.tags span a { margin: 1px 0; }
.data.tags span a[href*="=Uoh"] {
	position: absolute;
	left: 1068px;
	top: calc(50% - 13px);
	
	width: 13px;
	height: 26px;
	padding: 0;
	background: #000;
	border-radius: 50%;
	
	font-size: 0 !important;
	line-height: 23px;
	
	overflow: hidden;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
} 
.data.tags span a[href*="=Uoh"]:before {	
    position: absolute;
	  left: 0.5px; 
	  top: 4px;
    content: "😭";
    font-family: "Twemoji Mozilla";
    font-size: 29px; }
/*Stats bg and hu tao gun*/
.list-stats {
	background: rgba(0,0,0,0.6) !important;
}
.list-stats:before {
    content: "";
    position: absolute;
    width: 60%;
    height: 200px;
    top: 30px;
    left: 435px;
    background: url(https://i.imgur.com/ujoIp5V.png) no-repeat;
    z-index: 10;
    background-size: contain;}
/*EPIX REWATCH COUNT TAG*/
.data.tags span a[href*="=x"] { position: relative; }

.data.tags span a[href*="=x"]::after, .data.tags span a[href*="=x"]::before {
	position: absolute;
	z-index: 5;
	
	display: block;
	
	opacity: 0;
	transition: all 0.15s ease;
	pointer-events: none;
}

.data.tags span a[href*="=x"]::after {
	top: calc(50% - -15px);
	left: 50px;
	
	width: auto;
	max-width: 340px;
	height: auto;
	padding: 4px 8px;
	background: var(--btn-bg);
	border: 1px solid var(--text-dim);
	border-radius: 4px;
	box-sizing: border-box;
	
	color: var(--text);
	font: 11px/15px Arial, Verdana;
	text-align: left;
	white-space: pre-wrap;
	
	transform: translateX(-50%) translateX(340px);
}

.data.tags span a[href*="=x"]::before {
	content: "";
	top: 17px;
	left: 50%;
	
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent var(--text-dim) transparent;
	margin-left: -10px;
}

.data.tags span a[href*="=x"]:hover::after {
	left: calc(50% - 340px);
	opacity: 1;
}

.data.tags span a[href*="=x"]:hover::before {
	margin-left: -5px;
	opacity: 1;
}

.data.tags span[href*="=x"] a::after { transform: translateX(-17%) translateX(340px); }
.data.tags span[href*="=x"]:nth-child(n+3) a::after { transform: translateX(-33%) translateX(340px); }
.data.tags span[href*="=x"]:nth-child(n+5) a::after { transform: translateX(-50%) translateX(340px); }
.data.tags span[href*="=x"]:nth-child(n+7) a::after { transform: translateX(-67%) translateX(340px); }
.data.tags span[href*="=x"]:nth-child(n+9) a::after { transform: translateX(-83%) translateX(340px); }

.data.tags span a[href*="=x"]:after {
	content: "Times Rewatched";
}	

.data.tags span a[href*="=x"] {
	position: absolute;
	left: 50px;
	top: calc(50% - 1px);
	
	width: 13px;
	height: 26px;
	padding: 0;
	background: #000;
	border-radius: 50%;
    z-index: 1000;
	
  font-size: 13px !important;
	line-height: 23px;
	
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
/*Search width fix*/
#search-box.open {
	width: 115px !important;
	background: var(--btn-bg);
	border: 2px solid var(--bg-dark);
}
#search-box.open:after {
	width: 115px;
	opacity: 1;
}